<%# add navigation links to this file %>
<!-- static links load here -->
<li><%= link_to 'About', about_path %></li>
<li><%= link_to 'Contact', contact_path %></li>

<!-- render session links here -->
<%= render 'layouts/login_links' %>
